.main-container {
  min-height: 100%;
  position: relative;
}

.el-aside {
  border-right: solid 1px $boderColor;

  .aside-top {
    border-bottom: solid 1px $boderColor;
  }
  .el-menu {
    width: $sideBarWidth;
    margin: 0;
    border-right: none;
  }

  .el-menu--collapse {
    width: $hideSideBarWidth;
  }
}
